<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Auction Gallery</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">



    <!-- bootstrap/css for store pages  -->
    <!-- Bootstrap style --> 
      <!-- <link id="callCss" rel="stylesheet" href="{% static 'themes/bootshop/bootstrap.min.css' %}" media="screen"/> -->
      <!-- <link href="{% static 'themes/css/base.css' %}" rel="stylesheet" media="screen"/> -->
      <!-- Bootstrap style responsive -->	
        <link href="{% static 'themes/css/bootstrap-responsive.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'themes/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
      <!-- Google-code-prettify -->	
        <link href="{% static 'themes/js/google-code-prettify/prettify.css' %}" rel="stylesheet"/>
    
    <style type="text/css" id="enject"></style>

  </head>

  <body>


    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}"><h2>Auction <em>Gallery</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="{% url 'store' %}">Store</a>
              </li>
              {% if authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'userInfo' %}"> {{name}}</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">LogOut</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}"> Login</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

        {% block content %}

        {% endblock content %}
    </body>

    {% include 'auction/footer.html' %}
    <!--====== Javascripts & Jquery ======-->