{% extends 'auction/header.html' %}

{% load static %}

{% block content %}

<h1>hello</h1>

<h4> </h4>

<h4>
   $ {{product.curPrice}}
</h4>
<br>
<br>
<br>


<div class="span9">
   
	<div class="row">	  
			<div id="gallery" class="span3">
            <a href="#" title="{{product.name}}">
				<img src="{{product.imageUrl}}" style="width:100%" />
            </a>
			
			</div>
			<div class="span6">
				<h3>{{product.name}}  </h3>
				<hr class="soft"/>
				<form class="form-horizontal qtyFrm" method = "POST" action = "{% url 'bid' product.pid %}" >
					{% csrf_token %}
				  <div class="control-group">
					<label class="control-label"><span>Current Bid<h4>$ {{product.curPrice}}</h4>  </span></label> <br> <br> <br>
                    <label class="control-label"><span> Your offer - <input name="bidPrice" type="number" min= "{{minBid}}">  <button type="submit" class="btn btn-large btn-primary pull-right"> Bid<i class=" icon-shopping-cart"></i></button> </span></label>
					
                    <div class="controls">
					 
					</div>
				  </div>
				</form>
				
				<hr class="soft"/>

				<p>
				{{product.description}}
                <br>
                Age <h6>{{product.age}} years</h6>
				</p>
				<a class="btn btn-small pull-right" href="#detail">More Details</a>
				<br class="clr"/>
			<a href="#" name="detail"></a>
			<hr class="soft"/>
			</div>
			
			</div>

	</div>
</div>


{% endblock content %}