{% extends 'auction/header.html' %}

{% load static %}

{% block content %}
<br><br><br><br>

<link rel="stylesheet" href="{% static 'css/storeSearch.css' %}">

<div style = "margin: auto;
              width: 60%;
              padding: 10px;
              align-items: center;
              ">

      <div class="container justify-content-center">
        

          <div class="col-md-6">
              
              
                  <form action="{% url 'store' %}"  method="post">
                    {% csrf_token %}
                    <span>
                        <input type="text" class="form-control input-text" placeholder="Search products...." aria-label="Recipient's username" aria-describedby="basic-addon2" name="query" >
                        <button class="btn btn-outline-warning btn-lg" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                    
                  </form>
              
          </div>
    
              
          </div>        
        
    </div>
    
  



<br>
<div class="latest-products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- <div class="section-heading">
            <h2>Latest Products</h2>
            <a href="products.html">view all products <i class="fa fa-angle-right"></i></a>
          </div> -->
        </div>
      
            {% for product in products %}
                <div class="col-md-4">
                    <div class="product-item">
                    <a href="{% url 'product' product.pid %}"><img src="{{product.imageUrl}}" alt=""></a>
                        <div class="down-content">
                        <a href="{% url 'product' product.pid %}"><h4>{{product.name}}</h4></a>
                        <h6>£ {{product.curPrice}}</h6>
                        <p>{{product.description}}</p>
                      
                        
                    </div>
                    </div>
                </div>
            {% endfor %}

    </div>
    </div>
  </div>







{% endblock content %}